# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Frontend
node_modules/
dist/
build/

# arquivos MD
CLAUDE.md
docs/plano-de-melhorias.md